/******************************************************************************
 * Display
*******************************************************************************/
.-exp-2 {
    @include exp-2();
    }
.-exp-1 {
    @include exp-1();
    }
.-exp {
    @include exp();
    }
.-wrap {
    @include wrap();
    }
.-wrap-copy {
    @include wrap-copy();
    }
.-vtop {
    vertical-align: top;
    }
.-vbot {
    vertical-align: bottom;
    }
.-full {
    width: 100%;
    }
.-tall {
    height: 100%;
    }
.-block {
    display: block;
    }
.-poino {
    pointer-events: none;
    }
.-cutoff {
    max-width: $wrap-copy;
    }
.-meta {
    font-size: $meta-size;
    }



/******************************************************************************
 * Background Images
*******************************************************************************/
.-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    }
.-cover--top {
    background-position: 50% 0;
    }
.-cover--right {
    background-position: 100% 50%;
    }
.-cover--bottom {
    background-position: 50% 100%;
    }
.-cover--left {
    background-position: 0 50%;
    }



/******************************************************************************
 * Typography
*******************************************************************************/
.-text--center {
    text-align: center;
    }
.-text--right {
    text-align: right;
    }
.-text--left {
    text-align: left;
    }
.-dark {
    color: $black;
    }
.-light {
    color: $white;
    }
.-grey {
    color: $grey;
    }
.-fzero {
    font-size: 0;
    }
