/******************************************************************************
 * Document States
*******************************************************************************/
.is-hoverable {
    .navi__a:not( .is-active ):hover {
        color: $grey;
    }
    .footer {
        .a:hover {
            color: $white;
            }
        .a:hover:after {
            width: 100%;
            }
    }
    .btn:hover {
        background-color: $grey-bd-hover;
        border-color: $grey-bd-hover;
        color: $white;
    }
    .placeholder.is-placeholder:hover {
        &:before {
            transform: translate3d( 0, 100%, 0 ) translate3d( 0, -1px, 0 );
        }
        .button__hover {
            transform: translate3d( -50%, 0, 0 );
        }
        .button__main {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
        }
    }
    .feed__item:hover {
        z-index: 2;
        }
    .carousel__copy {
        .button--naira:hover:after {
            transform: translate3d(0, 0, 0);
        }
    }
    .product__image:hover {
        .product__hover {
            opacity: 1;

            .button {
                transform: translate3d( 0, 0, 0 );
                }
        }
    }
}



.is-navi-mobile {
    overflow: hidden;
}



.is-page-scroll {
    .mouse-wrapper {
        display: block;
    }
}
