/******************************************************************************
 * Document States
*******************************************************************************/
.is-hoverable {
    .navi__a:hover {
        color: $grey;
    }
    .footer {
        .a:hover {
            color: $white;
            }
        .a:hover:after {
            width: 100%;
            }
    }
    .btn:hover {
        background-color: $grey-bd-hover;
        border-color: $grey-bd-hover;
        color: $white;
    }
    .subscriber:not( .is-subscribed ):hover {
        .subscriber__cta {
            opacity: 0;
            transform: translate3d( 0, -100%, 0 );
            }
        .subscriber__form {
            opacity: 1;
            transform: translate3d( 0, 0, 0 );
            }
    }
}



.is-navi-mobile {
    overflow: hidden;
}
