/******************************************************************************
 * Squarespace Block Spacing
*******************************************************************************/

// Layout handling
.sqs-layout > .sqs-row {
    margin: 0 !important;
    }



.sqs-block {
    padding: 0 !important;

    h1 {
        @include h1();
        }
    h2 {
        @include h2();
        }
    h3 {
        @include h3();
        }
    h1,
    h2,
    h3 {
        strong {
            @include b();
            }
    }


    em {
        @include b();
        }


    ol,
    ul {
        @include li();

        strong {
            @include b();
            }
    }
    ol li {
        @include ol-li();
        }
    ul li {
        @include ul-li();
        }


    p {
        @include p();

        strong {
            @include b();
            }
    }


    p + p,
    p + ul,
    p + ol,
    p + h1,
    p + h2,
    p + h3,

    ul + p,
    ul + ul,
    ul + ol,
    ul + h1,
    ul + h2,
    ul + h3,

    ol + p,
    ol + ol,
    ol + ul,
    ol + h1,
    ol + h2,
    ol + h3,

    h1 + p,
    h1 + ul,
    h1 + ol,
    h1 + h1,
    h1 + h2,
    h1 + h3,

    h2 + p,
    h2 + ul,
    h2 + ol,
    h2 + h1,
    h2 + h2,
    h2 + h3,

    h3 + p,
    h3 + ul,
    h3 + ol,
    h3 + h1,
    h3 + h2,
    h3 + h3 {
        @include pp();
        }


    p,
    li {
        a {
            border-bottom: 1px solid $black;
            color: $black;
            }
    }
}



.sqs-block-html,
.sqs-block-button {
    .sqs-block-content {
        text-align: left;
        @include wrap-copy();
        }
}
.sqs-block-html + .sqs-block-button {
    @include pp();
}
