/******************************************************************************
 * Font Declarations
*******************************************************************************/
@font-face {
    font-family: "Druk";
    src: url( "/assets/fonts/DrukMedium.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
