/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.li, {
    @include p();

    em {
        font-style: italic;
        }
    strong {
        @include bs();
        }
    }


/******************************************************************************
 * Links
*******************************************************************************/
.a {
    position: relative;
    transition: color $base-duration $ease;
    @include bs();

    &:after {
        position: absolute;
        display: block;
        content: "";
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0;
        background-color: $black;
        transition: width $base-duration $ease;
        }
    }


/******************************************************************************
 * Headlines
*******************************************************************************/
.h1 {
    @include h1();
    }
.h2 {
    @include h2();
    }
.h3 {
    @include h3();
    }
