/******************************************************************************
 * Paragraphs
*******************************************************************************/
.p,
.li, {
    @include p();

    em {
        font-style: italic;
        }
    strong {
        @include bs();
        }
    }
.p--h1 {
    font-size: $p-h1-size;
    line-height: 1;
    @include bs();
    }
.p--h2 {
    font-size: $p-h2-size;
    line-height: 1;
    @include bs();
    }
.p--h3 {
    font-size: $p-h3-size;
    line-height: 1;
    @include bs();
    }
.p--hh {
    font-size: $p-hh-size;
    line-height: 1;

    @include respond( $break-tablet-full ) {
        font-size: $p-size-med;
    }
}


/******************************************************************************
 * Links
*******************************************************************************/
.a {
    position: relative;
    transition: color $base-duration $ease;
    @include bs();

    &:after {
        position: absolute;
        display: block;
        content: "";
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0;
        background-color: $black;
        transition: width $base-duration $ease;
        }
    }


/******************************************************************************
 * Headlines
*******************************************************************************/
.h1 {
    @include h1();

    @include respond( $mobile-breakpoint ) {
        font-size: $h1-size-2;
        line-height: $h1-line-2;
    }
}
.hh1 {
    @include hh1();
}
.h2 {
    @include h2();
    }
.h3 {
    @include h3();
    }
