/******************************************************************************
 * Edit mode
*******************************************************************************/
.sqs-edit-mode {
    [data-type="block-field"] {
        padding: 40px;
        outline: 1px solid #14aaff;
        width: 100%;
    }
}


/******************************************************************************
 * Commerce
*******************************************************************************/
.absolute-cart-box {
    display: none !important;
    }


/******************************************************************************
 * Layout resets
*******************************************************************************/
.sqs-layout > .sqs-row {
    margin-left: 0;
    margin-right: 0;
    }
[class*=sqs-col] {
    display: inline-block;
    float: none;
    vertical-align: top;
    }
[class*=sqs-col] .sqs-block {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    }
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):first-child {
    padding-top: 0;
    }
.sqs-layout:not( .sqs-editing ) .sqs-block + .sqs-row .sqs-block:not( .float ):last-child,
.sqs-layout:not( .sqs-editing ) > .sqs-row:first-child > [class*=sqs-col]:first-child > .sqs-block:last-child {
    padding-bottom: 0;
    }


/******************************************************************************
 * Layout typography
*******************************************************************************/
.sqs-block {
    h1 {
        @include h1();
        }
    h2 {
        @include h2();
        }
    h3 {
        @include h3();
        }
    h1,
    h2,
    h3 {
        strong {
            @include b();
            }
    }


    em {
        @include b();
        }


    ol,
    ul {
        @include li();

        strong {
            @include b();
            }
    }
    ol li {
        @include ol-li();
        }
    ul li {
        @include ul-li();
        }


    p {
        @include p();

        strong {
            @include b();
            }
    }


    p + p,
    p + ul,
    p + ol,
    p + h1,
    p + h2,
    p + h3,

    ul + p,
    ul + ul,
    ul + ol,
    ul + h1,
    ul + h2,
    ul + h3,

    ol + p,
    ol + ol,
    ol + ul,
    ol + h1,
    ol + h2,
    ol + h3,

    h1 + p,
    h1 + ul,
    h1 + ol,
    h1 + h1,
    h1 + h2,
    h1 + h3,

    h2 + p,
    h2 + ul,
    h2 + ol,
    h2 + h1,
    h2 + h2,
    h2 + h3,

    h3 + p,
    h3 + ul,
    h3 + ol,
    h3 + h1,
    h3 + h2,
    h3 + h3 {
        @include pp();
        }


    p,
    li {
        a {
            border-bottom: 1px solid $black;
            color: $black;
            }
    }
}


/******************************************************************************
 * Layout copy width
*******************************************************************************/
.sqs-block-html,
.sqs-block-button {
    text-align: center;

    .sqs-block-content {
        text-align: left;
        @include wrap-copy();
        }
}



/******************************************************************************
 * Layout responsive
*******************************************************************************/
// @media only screen and ( max-width: $break-mobile-full ) {
//     [class*=sqs-col] {
//         display: block;
//         width: 100% !important;
//         }
//     [class*=sqs-col] + [class*=sqs-col] {
//         margin-top: $expander-mobile;
//         }
// }
