/******************************************************************************
 * Animations
*******************************************************************************/
.animate {
    opacity: 0;
    transition: opacity $base-duration $ease;

    &.is-animate {
        opacity: 1;
        }
}
.animate-lift {
    .animate__el {
        opacity: 0;
        transform: translate3d( 0, $expander-three, 0 );
        transition: opacity $base-duration $ease,
                    transform $base-duration $ease;
        }

    &.is-animate .animate__el {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
}
