/******************************************************************************
 * Animations
*******************************************************************************/
.animate {
    opacity: 0;
    transition: opacity $base-duration $ease;

    &.is-animate {
        opacity: 1;
        }
    &.is-static {
        transition-duration: 0ms;
        }
}
