.article--cover {
    .button--naira {
        border-color: $white;
        color: $white;

        .button__hover {
            color: $charcoal;
            }

        &:before {
            background-color: $white;
            }
    }
}
.article__logo {
    .image {
        width: 100px;
        }
}
.article__wrap {
    position: relative;
    }
.article__col {
    @include respond( $break-tablet-medium ) {
        width: 100%;
    }

    &:last-child {
        @include respond( $break-tablet-medium ) {
            padding: 0 $padding-wrap;
        }
    }
}
.article__info {
    padding-left: $padding-wrap;
    padding-right: $padding-wrap;
    }
.article__image {
    .figure {
        padding-bottom: 100%;
        position: relative;
        z-index: 1;

        @include respond( $break-tablet-medium ) {
            padding: 60px 0;
        }
    }
    .figure:after {
        background-image: url( $data-uri-noise-2 );
        content: "";
        opacity: 0.18;
        position: absolute;
        z-index: -1;
        }
    .figure--tall:after {
        bottom: $expander-one;
        left: 0;
        right: 0;
        top: $expander-one;
        }
    .figure--wide:after {
        bottom: 0;
        left: $expander-one;
        right: $expander-one;
        top: 0;
    }

    .image {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX( -50% ) translateY( -50% );

        @include respond( $break-tablet-medium ) {
            left: auto;
            position: relative;
            top: auto;
            transform: none;
        }
    }
    .image--tall {
        height: 100%;
        width: auto;
    }
    .image--wide {
        height: auto;
        width: 100%;
        }
}
.article__logo {
    display: none;
    }
.article__body,
.article__button {
    margin-top: 60px;

    @include respond( $break-tablet-medium ) {
        margin-top: 30px;
    }
}
