.carousel {
    position: relative;

    &.-dark {
        .button--naira {
            background-color: $black;
            color: $white;
            }
        .progress__fill {
            background-color: $black;
            }
        .carousel__index__item,
        .carousel__index__active {
            background-color: $black;
            }
    }
    &.-light {
        .button--naira {
            background-color: $white;
            color: $black;
            }
        .progress__fill {
            background-color: $white;
            }
        .carousel__index__item,
        .carousel__index__active {
            background-color: $white;
            }
    }
}
.carousel__item {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity $slow-duration $ease;
    z-index: $z_layer_behind;

    &.is-active {
        opacity: 1;
        z-index: 2;
        }
    &.is-exiting {
        opacity: 0;
        z-index: 2;
        }
    &.is-entering {
        opacity: 1;
        z-index: 1;
        }
}
.carousel__main {
    position: relative;

    .button--naira {
        &:before {
            background-color: $orange;
            }

        .button__main,
        .button__hover {
            padding: $navi-pad;
            }
    }
}
.carousel__copy {
    margin-top: $expander-mobile / 2;

    p + p {
        margin-top: $expander-mobile / 2;
        }
}
.carousel__progress {
    margin-top: $expander-mobile / 2;
    }
.carousel__index {
    bottom: $expander-mobile;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
    }
.carousel__index__item {
    display: inline-block;
    height: 2px;
    vertical-align: middle;
    width: 30px;

    & + .carousel__index__item {
        margin-left: 30px;
        }
}
.carousel__index__active {
    height: 4px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY( -50% );
    transition: transform $base-duration $ease;
    width: 30px;
    }
.carousel__navi__item {
    height: 100%;
    position: absolute;
    top: 0;
    width: $expander-one;
    z-index: 2;

    &[data-navi="next"] {
        cursor: e-resize;
        right: 0;
        }
    &[data-navi="prev"] {
        cursor: w-resize;
        left: 0;
        }
}
