.feed__actions {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    }

/******************************************************************************
 * Filters
*******************************************************************************/
.feed__filter-toggle {
    margin-right: 10px;

    .-svg {
        width: 22px;

        rect:nth-child( 1 ) {
            transform-origin: bottom right;
            }
        rect:nth-child( 2 ) {
            transform-origin: bottom left;
            }
        rect:nth-child( 1 ),
        rect:nth-child( 2 ) {
            transition: transform $fast-duration $ease;
            }
    }

    &.is-active {
        .-svg {
            rect:nth-child( 1 ) {
                transform: rotate( -45deg ) translateX( 2px ) translateY( -2px );
                }
            rect:nth-child( 2 ) {
                transform: rotate( 45deg ) translateX( -2px ) translateY( -2px);
                }
            rect:nth-child( 3 ),
            rect:nth-child( 4 ),
            rect:nth-child( 5 ),
            rect:nth-child( 6 ) {
                display: none;
                }
        }
    }
}
.feed__filter {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 50%;
}
.feed__category-list {
    font-size: $navi-font-size;

    &.is-active {
        .feed__category {
            opacity: 1;
            pointer-events: auto;
            transform: translate3d( 0, 0, 0 );
            }
    }
}
.feed__category {
    opacity: 0;
    padding: 0 10px;
    pointer-events: none;
    transform: translate3d( 0, 50%, 0 );
    transition: color $fast-duration $ease,
                opacity $fast-duration $ease,
                transform $fast-duration $ease;

    // @include respond( $break-tablet-full ) {
    //     padding: 0 5px;
    // }
    @include hover() {
        color: $black;
    }

    &.is-active {
        color: $black;
        }
}
@for $i from 2 through 20 {
    .feed__category-list.is-active {
        .feed__category:nth-child( #{$i} ) {
            transition-delay: 20ms * $i;
        }
    }
}

/******************************************************************************
 * Search
*******************************************************************************/
.feed__search {
    position: relative;
    width: 50%;

    .-svg {
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY( -50% );
        width: 22px;
        }
    .form__input {
        font-size: $navi-font-size;
        padding: 0 32px 0 0;
        text-align: right;
        width: 100%;
        }

    &.is-active {
        .feed__search-text {
            display: none;
            }
    }
}
.feed__search-text {
    @include bs();
    font-size: $navi-font-size;
    left: 0;
    padding: 0 32px 0 0;
    pointer-events: none;
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translateY( -50% );
    white-space: nowrap;
    width: 100%;
}
.feed__search-shim {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    }
.feed__search-tag {
    display: inline-block;
    line-height: 1;
    padding-bottom: 5px;
    position: relative;
    text-align: left;
    transition: width $fast-duration $ease;

    &:before,
    &:after {
        line-height: 1;
    }

    &:before {
        content: attr( data-curr );
        opacity: 1;
        position: relative;
        transform: translate3d( 0, 0, 0 );
        }
    &:after {
        content: attr( data-next );
        left: 0;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate3d( 0, 100%, 0 );
        }

    &.is-switch {
        &:before,
        &:after {
            transition: opacity $fast-duration $ease,
                        transform $fast-duration $ease;
            }
        &:before {
            opacity: 0;
            transform: translate3d( 0, -100%, 0 );
            }
        &:after {
            opacity: 1;
            transform: translate3d( 0, -50%, 0 );
            }
    }
}

/******************************************************************************
 * Gridwall
*******************************************************************************/
.feed__layout {
    padding-bottom: $expander-mobile;
}
.feed__item {
    cursor: pointer;
    position: relative;
    transition: box-shadow $base-duration $ease;
    z-index: 1;
    }
.feed__icon {
    left: 16px;
    position: absolute;
    top: 16px;
    width: 10px;
    z-index: 2;

    .-svg {
        fill: $white;
        width: 100%;
        }
}
