$links-pad: 29px;



.footer {
    background-color: $grey-bg;
    color: $white;
    font-size: $footer-font-size;

    .p {
        font-size: $footer-font-size;
        }

    .a {
        &:after {
            background-color: $white;
            }
    }
    .form__input {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        }
    .form__input,
    .form__input::-webkit-input-placeholder {
        color: $white;
    }

    .social-icon-alignment-right .sqs-svg-icon--list {
        @include respond( $break-tablet-medium ) {
            text-align: left;
        }
    }

    .social-icons-size-medium.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper {
        @include respond( $break-tablet-medium ) {
            margin: 0 14px 0 0;
        }
    }
}
.footer__logo {
    @include respond( $break-tablet-medium ) {
        padding-bottom: $expander-one;
        width: 100%;
    }
}
.footer__links {
    padding-top: $links-pad;

    @include respond( $break-tablet-medium ) {
        padding-right: $padding-wrap * 2;
        padding-top: 0;
        width: auto;
    }
}
.footer__social {
    padding-top: $links-pad;
    text-align: right;

    @include respond( $break-tablet-medium ) {
        padding-top: $expander-one;
        text-align: left;
        width: 100%;
    }
}
.footer__copy {
    padding-top: $expander-two;
    text-align: right;

    @include respond( $break-tablet-medium ) {
        padding-top: $expander-one;
        text-align: left;
    }
}



#footer-blocks {
    padding-top: $links-pad;
}
