$footer-grey-bg: #a1a1a1;



.footer {
    background-color: $grey-bg;
    color: $white;
    font-size: $footer-font-size;

    .p {
        font-size: $footer-font-size;
        }

    .a {
        &:after {
            background-color: $white;
            }
    }

    .form__input {
        font-size: $footer-font-size;
        }

    .form__input,
    .form__input::-webkit-input-placeholder {
        color: $white;
        text-align: center;
        }

    .form__input,
    .button--itzel .button__main {
        padding: 12px 24px;
        }
    .button--itzel {
        max-width: 355px;
        }
    .button--itzel .button__main {
        pointer-events: none;
        }
    .button--itzel .button__hover {
        padding: 0;
        width: 100%;
        }

    // Squarespace social icons override
    .social-icon-alignment-right .sqs-svg-icon--list {
        @include respond( $break-tablet-small ) {
            text-align: center;
        }
    }
    .social-icons-size-medium.social-icons-style-regular.social-icon-alignment-right .sqs-svg-icon--wrapper {
        margin: 0 0 0 $expander-mobile / 2;

        &:first-child {
            margin-left: 0;
            }
    }
}
.footer__upper {
    padding-top: $expander-one;
    }
.footer__lower {
    background-color: $footer-grey-bg;
    padding-bottom: $expander-one;
    padding-top: $expander-two;

    @include respond( $break-tablet-small ) {
        padding-top: $expander-one;
    }
}
.footer__wrap {
    margin: 0 auto;
    max-width: $break-tablet-full;
    width: 100%;
    }
.footer__logo {
    > div + div {
        margin-top: $expander-mobile / 2;
        }

    .-svg {
        width: 90px;
        }
}
.footer__form,
.footer__cols {
    padding-top: $expander-two;

    @include respond( $break-tablet-small ) {
        padding-top: $expander-one;
    }
}
.footer__col {
    &.-column {
        @include respond( $break-tablet-small ) {
            padding: $expander-mobile 0;
            text-align: center;
            width: 100%;
        }
    }
}




#footer-blocks {}
