.form__input {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    line-height: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 100%;
    @include p();
    @include bs();
    }



.placeholder {
    text-align: center;
    }
.placeholder__cta {
    @include bs();
    }
.placeholder__form {}
.placeholder__b {
    display: none;
    }
.placeholder.is-placeholder {
    .placeholder__a {
        display: none;
        }
    .placeholder__b {
        display: block;
        }
}
