.form__input {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    line-height: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 100%;
    @include p();
    @include bs();
    }



.placeholder {
    border-bottom: 1px solid $white;
    overflow: hidden;
    position: relative;
    padding: 8px 0;
    }
.placeholder__cta {
    @include bs();
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;
    }
.placeholder__form {
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d( 0, 100%, 0 );
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;
    }
.placeholder__b {
    display: none;
    }
.placeholder.is-placeholder {
    .placeholder__a {
        display: none;
        }
    .placeholder__b {
        display: block;
        }
}
