$pp-01: #999;
$pp-02: #666;
$pp-03: #333;



@keyframes hero-gradients {
    0% { background-position: 0 0; }
    25% { background-position: 50% 0; }
    50% { background-position: 90% 0; }
    60% { background-position: 60%; }
    75% { background-position: 40%; }
    100% { background-position: 0 0; }
}


.hero {
    background-color: transparent;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    }
.hero__img,
.hero__vid {
    bottom: 0;
    left: $navi-logo-width;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    right: $book-button-width;
    top: 0;

    @include respond( $mobile-breakpoint ) {
        left: 0;
        right: 0;
    }
}
.hero__vid {
    .embed {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX( -50% ) translateY( -50% );
        }
    .embed__element {
        background-image: linear-gradient( to right, $pp-01, $pp-02, $pp-03, $pp-02 );
        background-size: 600%;
        background-position: 0 0;
        box-shadow: inset 0 0 5em rgba( 0, 0, 0, 0.5 );
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-name: hero-gradients;
    }
}
.hero__copy {
    font-size: $p-size-big;
    padding-right: $padding-wrap;

    @include respond( $mobile-breakpoint ) {
        font-size: $p-size-med;
    }
}
.hero__main {
    opacity: 0;
    padding-left: $navi-logo-width * 2;
    transition: opacity $fast-duration $ease,
                transform $fast-duration $ease;
    transform: translate3d( 0, $expander-mobile, 0 );

    @include respond( $mobile-breakpoint ) {
        padding-left: $padding-wrap;
    }
}
.hero__item.is-exiting {
    .hero__main {
        opacity: 0;
        transform: translate3d( 0, -$expander-mobile, 0 );
        }
}
.hero__item.is-entering {
    .hero__main {
        transition-delay: $base-duration;
        }
}
.hero__item.is-active,
.hero__item.is-entering {
    .hero__main {
        opacity: 1;
        transform: translate3d( 0, 0, 0 );
        }
}
