.main {
    > .grid:first-child,
    > .staff:first-child,
    > .article:first-child,
    > .sponsors:first-child {
        padding-top: $navi-height;
    }
    // > .page:first-child {
    //     padding-top: $expander-one + $navi-height;
    // }
    > .sponsors:first-child {
        background-color: $black;
    }

    @include state( "feed", "page" ) {
        padding-top: $expander-one + $navi-height;
    }
}
