.main {
    > .grid:first-child {
        padding-top: $navi-height;
    }
    > .page:first-child {
        padding-top: $expander-one + $navi-height;
    }

    @include state( "feed", "page" ) {
        padding-top: $expander-one + $navi-height;
    }
}
