.main {
    // padding-top: $navi-height;
    transition: opacity $fast-duration $ease;

    &.is-inactive {
        opacity: 0;
        pointer-events: none;
        }

    > .gallery:first-child {
        padding-top: $navi-height;
    }
    > .page:first-child {
        padding-top: $expander-one + $navi-height;
    }
}
