.image {
    max-width: 100%;
    width: 100%;
    }



.embed {}
.embed__aspect {
    background-color: $black;
    position: relative;
    width: 100%;
    }
.embed__element {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }



.progress {
    height: 2px;
    position: relative;
    width: 32px;
    }
.progress__fill {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width 50ms $ease;
    width: 100%;
    }



.aspect {
    overflow: hidden;
    position: relative;
    }
.aspect__media {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    }
