.section {
    // Squarespace layout overrides
    > .sqs-layout {
        .sqs-block-gallery + .sqs-row,
        .sqs-block-gallery + .sqs-block-html .sqs-block-content {
            @include exp-1();
        }
        // Text + Button
        .sqs-block-gallery + .sqs-row {
            .col,
            .sqs-col-6 {
                width: auto;
                }
            .sqs-block-html .sqs-block-content {
                padding-right: $expander-one;
                }
            .sqs-block-button .sqs-block-content {
                padding-top: 70px;
                }
        }
    }
}



.instagram {}
.instagram__items {
    background-color: $white;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    }
.instagram__item {}
.instagram__navi {
    padding-right: $expander-mobile / 2;
    padding-top: $expander-mobile / 2;
    text-align: right;
    user-select: none;

    .p {
        @include bs();
        }
}
.instagram__pipe {
    background-color: $grey;
    height: 20px;
    margin: 0 12px;
    width: 2px;
    }
.instagram__prev,
.instagram__next {
    cursor: pointer;
    height: 18px;
    position: relative;
    width: 24px;

    &:before,
    &:after {
        background-color: $grey;
        content: "";
        height: 10px;
        left: 4px;
        position: absolute;
        width: 2px;
        }
    &:before {
        bottom: 1px;
        transform: rotate( -45deg );
        }
    &:after {
        top: 1px;
        transform: rotate( 45deg );
        }
}
.instagram__next {
    transform: scaleX( -1 );
    }



.home {
    position: relative;

    .instagram {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY( -50% );
        width: 32%;
        z-index: 2;

        @include respond( $break-tablet-full ) {
            display: none;
        }
    }
}



.sponsors {
    .sponsors__item {
        @include respond( $break-tablet-medium ) {
            width: 20%;
        }
        @include respond( $break-tablet-small ) {
            width: 25%;
        }
    }
}



.article--cover {
    background-color: $black-off;
    position: relative;
    z-index: 1;

    &:after {
        background: url( $data-uri-noise-1 );
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .button--naira {
        border-color: $white;
        color: $white;

        .button__hover {
            color: $charcoal;
            }

        &:before {
            background-color: $white;
            }
    }
}
.article__logo {
    .image {
        width: 100px;
        }
}
.article__wrap {
    position: relative;
    }
.article__col {
    @include respond( $break-tablet-full ) {
        width: 100%;
    }

    &:last-child {
        @include respond( $break-tablet-full ) {
            padding: 0 $padding-wrap;
        }
    }
}
.article__info {
    padding-left: $padding-wrap;
    padding-right: $padding-wrap;
    }
.article__image {
    .figure {
        padding-bottom: 100%;
        position: relative;
        z-index: 1;
        }
    .figure:after {
        background-image: url( $data-uri-noise-2 );
        content: "";
        opacity: 0.18;
        position: absolute;
        z-index: -1;
        }
    .figure--tall:after {
        bottom: $expander-one;
        left: 0;
        right: 0;
        top: $expander-one;
        }
    .figure--wide:after {
        bottom: 0;
        left: $expander-one;
        right: $expander-one;
        top: 0;
    }

    .image {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX( -50% ) translateY( -50% );
        }
    .image--tall {
        height: 100%;
        width: auto;
        }
    .image--wide {
        height: auto;
        width: 100%;
        }
}
.article__body {
    margin-top: 60px;
    }
.article__button {
    margin-top: 60px;
    }
