// Basic pages
.page {}
.page__title {
    position: relative;
    }



// Homepage
.splash {
    overflow: hidden;
    position: relative;

    .hero {
        @include state( "scroll", "jacked" ) {
            transform: translate3d( 0, 50%, 0 );
            transition: transform $long-duration ease-in-out;
        }
    }

    .instagram {
        max-width: 640px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY( -50% );
        width: 32vw;
        z-index: 2;

        @include state( "scroll", "jacked" ) {
            transform: translate3d( 0, 0, 0 );
            transition: transform $long-duration ease-in-out;
        }

        @include respond( $break-tablet-full ) {
            display: none;
        }
    }

    &.is-active-section {
        .hero {
            transform: translate3d( 0, 0, 0 );
        }
        .instagram {
            transform: translate3d( 0, -50%, 0 );
        }
    }
}



// Footer logos grid
.sponsors {
    .sponsors__item {
        @include respond( $break-tablet-medium ) {
            width: 20%;
        }
        @include respond( $break-tablet-small ) {
            width: 25%;
        }
    }
}



// Staff page grid
.staff {
    margin: 0 -2.5px;

    .staff__item {
        margin-bottom: 5px;
        padding-left: 2.5px;
        padding-right: 2.5px;
        position: relative;

        .grid__hover {
            padding: 0 10%;
            }

        @include respond( $break-laptop-medium ) {
            width: 33.333333%;
        }
        @include respond( $break-tablet-small ) {
            width: 50%;
        }
    }
}



// Silly mouse scroll thing
@keyframes scrolls {
    0% {
        top: 10px;
        opacity: 1;
        height: 4px;
    }
    95% {
        top: 18px;
        opacity: 0;
        height: 10px;
    }
    100% {
        top: 8px;
        opacity: 1;
        height: 4px;
    }
}

.mouse-wrapper {
    margin: 0 auto;
    display: none;
    width: 28px;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 37px;

    .mouse {
        width: 30px;
        height: 47px;
        border: 2px solid $white;
        border-radius: 14px;
    }

    .mouse-scroll {
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: $white;
        position: relative;
        top: 10px;
        left: 11px;
        -webkit-animation: scrolls 1.3s ease-out infinite;
    }
}
