$shop-bgcolor: #eaeaea;
$shop-btncolor: #d8d8d8;


.shop {
    .button--naira {
        background-color: $shop-btncolor;
        color: $white;

        .button__main,
        .button__hover {
            padding: $navi-pad;
            pointer-events: none;
            text-transform: uppercase;
            }
    }
}
.shop--all {
    @include respond( $break-ipad-pro-width ) {
        padding-top: $navi-height;
    }
}
.shop--one {
    padding-top: $navi-height;
}
.shop--cart {
    padding-top: $navi-height;
    }
.shop__wall {
    .shop--all &,
    .shop--cart & {
        margin: -$grid-gutter;
    }
}
.shop__hero {
    background-color: $shop-bgcolor;
    }
.shop__header {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: $expander-one;
    padding-top: $expander-two;
    }
.shop__header__masthead {}
.shop__header__checkout {
    background-color: rgba( 154, 154, 154, 0.5 );
    width: $book-button-width;

    @include respond( $break-mobile-full ) {
        display: none;
    }
}
.shop__checkout {
    padding-bottom: $expander-one;
    text-align: right;

    .button {
        background-color: rgba( 154, 154, 154, 0.5 );
        width: $book-button-width;
    }
}
.shop__inline {
    left: #{"~\"calc( -#{$padding-wrap} + 5px )\""};
    margin: $grid-gutter 0;
    position: relative;
    width: 100vw;

    @include respond( $break-ipad-pro-width ) {
        display: none;
    }
}
.product {
    padding: $grid-gutter;
    }
.product--basic {
    @include respond( $break-ipad-pro-width ) {
        width: 50%;
    }

    @include respond( $break-mobile-full ) {
        width: 100%;
    }
}
.product--basic--alt {
    display: none;

    @include respond( $break-ipad-pro-width ) {
        display: inline-block;
    }
}
.product--starred {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    width: 100%;

    .shop--all & {
        margin-bottom: $expander-one;
    }

    .product__wall {
        background-color: $shop-bgcolor;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        @include respond( $break-tablet-small ) {
            background-color: transparent;
        }
    }
    .product__image {
        width: 50%;

        @include respond( $break-tablet-small ) {
            @include wrap();
            padding-bottom: $expander-one;
            width: 100%;
        }
    }
    .product__info {
        padding-right: $padding-wrap;
        width: 50%;

        @include respond( $break-tablet-small ) {
            padding-bottom: $expander-one;
            padding-left: $padding-wrap;
            width: 100%;
        }
    }
    .product__checkout {
        margin-left: $expander-mobile;
        position: relative;
        z-index: 3;
        }
    .product__excerpt,
    .product__price,
    .product__checkout,
    .product__variants,
    .product__quantity {
        margin-top: $expander-mobile / 2;
        }
}
.product__image {
    position: relative;
    }
.product__price {
    text-align: right;

    &.h3 {
        font-size: 32px;
        }

    .sqs-money-native {
        &:before {
            content: "$";
            display: inline;
            }
        &:after {
            @include p();
            color: $grey;
            display: block;
            line-height: 1;
            }
    }
}
.product__infocard {
    background-color: $white;
    padding: $expander-mobile ($expander-mobile / 2) $expander-one;

    .-column:first-child {
        width: 70%;

        .product__title {
            overflow: hidden;
            padding-right: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            }
    }
    .-column:last-child {
        text-align: right;
        width: 30%;
        }
}
.product__hover {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: opacity $base-duration $ease;
    top: 0;
    width: 100%;

    .button {
        transition: transform $base-duration $ease;
        transform: translate3d( 0, 100%, 0 );
    }
}
.product__selector {
    // @temp stub for now
    width: 150px;
}
.product__variant {
    border-radius: 16px;
    cursor: pointer;
    height: 16px;
    width: 16px;

    &.is-active {
        border: 2px solid $white;
    }

    & + .product__variant {
        margin-left: 8px;
        }
}
