$shop-bgcolor: #eaeaea;
$shop-btncolor: #d8d8d8;


.shop {}
.shop--cart {
    padding-top: $navi-height;
    }
.shop__wall {
    margin: -$grid-gutter;
    }
.shop__hero {
    background-color: $shop-bgcolor;
    }
.product {
    padding: $grid-gutter;

    .button--naira {
        background-color: $shop-btncolor;
        color: $white;
        font-size: $navi-font-size;

        .button__main,
        .button__hover {
            padding: $navi-pad;
            pointer-events: none;
            text-transform: uppercase;
            }
    }
}
.product--starred {
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    width: 100%;

    .product__wall {
        background-color: $shop-bgcolor;
        @include flex-space();
        justify-content: flex-start;
        }
    .product__image,
    .product__info, {
        width: 50%;
        }
    .product__info {
        padding-right: $padding-wrap;
        }
    .product__excerpt,
    .product__price,
    .product__checkout {
        margin-top: $expander-mobile / 2;
        }
}
.product__image {
    position: relative;
    }
.product__price {
    .sqs-money-native {
        &:before {
            content: "$";
            display: inline;
            }
    }
}
.product__infocard {
    background-color: $white;
    padding: $expander-mobile $expander-mobile / 2 $expander-one;

    .-column:first-child {
        width: 70%;

        .product__title {
            overflow: hidden;
            padding-right: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            }
    }
    .-column:last-child {
        text-align: right;
        width: 30%;
        }
}
.product__hover {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: opacity $base-duration $ease;
    top: 0;
    width: 100%;

    .button {
        transition: transform $base-duration $ease;
        transform: translate3d( 0, 100%, 0 );
    }
}
