/* EVNTS PAGE ------------------------------------*/

[data-show=on-scroll] {
      opacity: 1;
      -webkit-transition: opacity .6s ease-in-out;
      -ms-transition: opacity .6s ease-in-out;
      transition: opacity .6s ease-in-out;
}
[data-show=on-scroll].in-view {
    opacity: 1;
}

.page--events h1,
.page--events h2,
.page--events h3,
.page--events h4,
.page--events h5,
.page--events h6,
.page--events p{margin:0 0 1.2em;padding:0;line-height:1.1em;}
.page--events h1{
  position: relative;
  font-size:42px;
  font-family:"youngserifregular",serif;
  font-weight:600;
  margin-bottom:.3em;
  line-height:1em;
  text-align: center;
  color:#fff;
}
.page--events h1:after {
  position: absolute;
  content: '';
  top: 19px;
  left: 50%;
  margin-left: -100px;
  width: 0;
  height: 12px;
  background: url(/static-assets/images/events/illustration/strikethrough.png);
  background-position: top left;
  background-size: 199px 12px;
  background-repeat: no-repeat;
  transition: width .4s ease-in;
}
.page--events h1.strikethrough:after {
  width: 199px;
}
.page--events h2{font-size:22px;font-family:Source Sans Pro,sans-serif;line-height:1.4;font-weight:600;margin-bottom:.5em}
.page--events h3{font-size:20px;font-family:Source Sans Pro,sans-serif;font-weight:600;text-transform:uppercase;letter-spacing:5px;margin-bottom:.5em; color: #fff !important;}
.page--events p{font-size: 3.5vw;font-family:Source Sans Pro,sans-serif;font-weight: 600;line-height:2.6em;margin-bottom:1.2em;width:100%}
.page--events a{color:#000;text-decoration:none}
.page--events button:focus{outline:0}
.page--events figure{margin:0;padding:0}
.page--events ::-moz-selection{background:red}
.page--events ::-moz-selection,
.page--events ::selection{background:red}
.page--events div:focus,
.page--events li:focus{outline:none}
.page--events{color:#000}
.container{margin:0 auto;max-width:1280px;padding:0 15px}
.row{float:left;width:100%;height:auto;clear:both}
.row--standard-events{padding:50px 0}
@-webkit-keyframes a{50%{-webkit-transform:translate3d(0,50%,0) rotate(10deg);transform:translate3d(0,50%,0) rotate(10deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}to{-webkit-transform:translateZ(0) rotate(0deg);transform:translateZ(0) rotate(0deg)}}
@keyframes a{50%{-webkit-transform:translate3d(0,50%,0) rotate(10deg);transform:translate3d(0,50%,0) rotate(10deg);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}to{-webkit-transform:translateZ(0) rotate(0deg);transform:translateZ(0) rotate(0deg)}}
.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list,
.slick-slider{position:relative;display:block}
.slick-list{overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,
.slick-slider .slick-track{-webkit-transform:translateZ(0);transform:translateZ(0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:after,
.slick-track:before{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl]
.slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
.slick-dotted.slick-slider{padding-bottom:20px}
.slick-dots{position:absolute;bottom:10px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}
.slick-dots li{position:relative;display:inline-block;width:10px;height:10px;margin:0 4px;padding:0;cursor:pointer}
.slick-dots li button{font-size:0;line-height:0;display:block;width:2px;height:2px;padding:0;cursor:pointer;color:transparent;border:0;outline:none;border-radius:50%;background:#bbb;transition:background .3s,opacity .3s}
.slick-dots li.slick-active button,
.slick-dots li button:focus,
.slick-dots li button:hover{background:#777}
.slick-next,
.slick-prev{width:28px;height:28px;border:1px solid #777;border-radius:50%;background-color:#777;padding:0;opacity:.5;cursor:pointer;transition:opacity .2s,border .2s,background-color .2s}
.slick-next:hover,
.slick-prev:hover{opacity:.75}
.slick-next i,
.slick-prev i{top:0;left:7px;width:9px;height:12px}
.slick-next i{left:9px}
.slick-next:hover i,
.slick-prev:hover i{opacity:1}
.slick-next.slick-disabled,
.slick-prev.slick-disabled{border:1px solid #ddd;background-color:#ddd;opacity:1}
.slick-next.slick-disabled:hover,
.slick-prev.slick-disabled:hover{opacity:1}

/* Naira */

.events-button--container {
  cursor: pointer;
  margin-top:10px;
  margin-bottom: 40px;
}
.button--swap {
  position: relative;
  padding: 0;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.button--swap::before {
  content: '';
  position: absolute;
  left: -60%;
  width: 200%;
  height: 200%;
  background: #333;
  top: -70%;
  z-index: 1;
  -webkit-transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
  transform: translate3d(0, -100%, 0) rotate3d(0, 0, 1, -10deg);
}
.button--swap > .button__inner {
  display: block;
  width: auto;
  padding:22px 40px;
  font-size:14px;
  line-height:15px;
  font-weight:700;
  border:1px solid #ddd;
}
.button--swap > .button__inner a {
  color: #252525;
}
.button--swap .button__icon {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height:15px;
  font-size:14px;
  padding:22px 40px;
  cursor: pointer;
  z-index: 2;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.button--swap-up .button__icon {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--swap > .button__inner,
.button--swap .button__icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--swap:hover::before {
  -webkit-animation: anim-swap-1 0.3s forwards ease-in;
  animation: anim-swap-1 0.3s forwards ease-in;
}
.button--swap-up:hover::before {
  -webkit-animation: anim-swap-2 0.3s forwards ease-in;
  animation: anim-swap-2 0.3s forwards ease-in;
}
@-webkit-keyframes anim-swap-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-swap-1 {
  50% {
    -webkit-transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@-webkit-keyframes anim-swap-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes anim-swap-2 {
  50% {
    -webkit-transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    transform: translate3d(0, 50%, 0) rotate3d(0, 0, 1, 10deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0%, 0) rotate3d(0, 0, 1, 0deg);
  }
}
.button--swap:hover {
  background-color: #333;
  -webkit-transition: background-color 0s 0.3s;
  transition: background-color 0s 0.3s;
}
.button--swap.button--inverted:hover {
  background-color: #333;
}
.button--swap:hover .button__icon {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button--swap:hover > .button__inner {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button--swap-up:hover > .button__inner {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}


* [class*=" icon-"],* [class^=icon-]{float:left;position:relative;width:16px;height:16px;text-indent:-9999px;background-size:contain;background-repeat:no-repeat;transition:opacity .3s}
* [class*=" icon-"]:hover,* [class^=icon-]:hover{opacity:.7}
.icon-facebook{background-image:url(/static-assets/images/icons/social/facebook.svg)}
.icon-twitter{background-image:url(/static-assets/images/icons/social/twitter.svg)}
.icon-instagram{background-image:url(/static-assets/images/icons/social/instagram.svg)}
.illustration__container{
  float:left;
  position:relative;
  margin:0 auto;
  padding:0 0;
  width:100%;
  height:auto;
  background:#409dce url(/static-assets/images/events/illustration/sky-mobile.jpg) no-repeat top;
  background-size:100% auto
}
.illustration__container h2 {color: #006699;}
.illustration__container audio {visibility: hidden;}
.entry-content .illustration__container h2 {color: #006699;}
.illustration__container p {color: #006699;}
.illustration__clouds--left{display:none}
.illustration__clouds--right{display:none}
.illustration__heli{display:none}
.illustration__birds{display:none}
.illustration__mountains--rear{display:none}
.illustration__mountains--mid{display:none}
.illustration__mountains--front{display:none}
.illustration__chalets{display:none}
.illustration__main-lodge{display:none}
.illustration__text--intro{
  float:left;
  width:100%;
  height: 202vw;
  padding: 90px 20px 0 20px;
  text-align: center;
  background: url(/static-assets/images/events/illustration/mobile_1.jpg);
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.illustration__text--intro h1 {color: #fff !important}
.illustration__text--intro p{
  line-height: 2.2em;
  margin-bottom:30px;
  color:#006699;
}
.illustration__text--second {
  float:left;
  width:100%;
  height: 245vw;
  padding:10px 20px;
  background: url(/static-assets/images/events/illustration/mobile_2.jpg);
  background-color: #e2e8df;
  background-position: bottom left;
  background-size: 100% auto;
  background-repeat: no-repeat;
 }
.illustration__text--second h2 {color: #006699 !important;text-align: center;}
.illustration__text--second p {color: #006699;text-align: center;}
.illustration__text--third {
  float:left;
  width:100%;
  height: 216vw;
  padding:10px 20px;
  background: url(/static-assets/images/events/illustration/mobile_3.jpg);
  background-color: #6f8e4b;
  background-position: bottom left;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.illustration__text--third h2 {text-align: center;color: #fff !important;}
.illustration__text--third p {text-align: center;color: #fff;}
.illustration__text--fourth {
  float:left;
  width:100%;
  padding:25px 20px 0 20px;
  background-color: #252525;
}
.illustration__text--fourth h2 {text-align: center; color:#fff !important;}
.illustration__text--fourth p {text-align: center; color: #fff;}
.carousel__container--wrap{position:relative;background:#252525}
.carousel__container{float:left;position:relative;width:100%;height:auto;margin-bottom:0;overflow:hidden;clear:both}
.carousel__drag-indicator{position:fixed;cursor:pointer;width:60px;height:34.64px;background-color:#fff;margin:17.32px 0;z-index:20}
.carousel__drag-indicator:after,
.carousel__drag-indicator:before{content:"";position:absolute;width:0;border-left:30px solid transparent;border-right:30px solid transparent}
.carousel__drag-indicator:before{bottom:100%;border-bottom:17.32px solid #fff}
.carousel__drag-indicator:after{top:100%;width:0;border-top:17.32px solid #fff}
.carousel__drag-indicator-text{display:block;position:relative;width:60px;margin-top:10px;font-size:10px;line-height:14px;font-weight:600;letter-spacing:2px;text-align:center;text-transform:uppercase}
.carousel{margin:0;padding:0 !important;list-style:none}
.carousel .slick-list{margin-right:0;overflow:visible;transition:all .2s}
.carousel .slick-list.dragging{-webkit-transform:scale(.98);transform:scale(.98)}
.carousel__item{
  float:left;
  position:relative;
  width:auto;
  height:auto;
  margin:0;
  cursor:pointer;
  cursor:hand;
}
.nav--prev{cursor:w-resize}
.nav--next{cursor:e-resize}
.carousel__item img{float:left;width:100%;height:auto;clear:both;box-shadow:0 30px 40px -8px rgba(0,0,0,.5)}
.carousel__item .carousel__item-desc{
  position:relative;
  height:auto;
  clear:both;
  color:#fff;
  padding: 0 7%;
  margin: 0 auto;
  top: -10px;
  width:100%;
  max-width: 560px;
  text-align:center
}
.carousel__item .carousel__item-desc p {color:#fff !important;}
.carousel .slick-next,
.carousel .slick-prev{position:absolute;top:41%;width:32px;height:32px;border:4px solid #fff;background:#00758f;opacity:1;z-index:10}
.carousel .slick-prev{left:-15px}
.carousel .slick-next{right:-15px}
.carousel .slick-next i,
.carousel .slick-prev i{position:relative;left:6px;top:0;width:9px;height:12px}
.carousel .slick-next i{left:8px}
.carousel .slick-next:hover,
.carousel .slick-prev:hover{background:#00758f;opacity:1}
.carousel .slick-next.slick-disabled,
.carousel .slick-prev.slick-disabled{background-color:#c2c2c2;opacity:1}
.book-now{background:#fff;padding:80px 0 90px}
.book-now__text-container{text-align:center;margin-bottom:0;padding:0 10%}
.book-now__text-container h2{padding:0}
.book-now__text-container p{padding:0}
.book-now__text-container p.events-button--container{padding:0}
.book-now__text-container .button{margin-top:20px}

.entry-content .page--events ul li {
  list-style: none !important;
}
.entry-content ul.partners__list,
.partners__list{list-style:none;margin:0;padding:0;float:left;display:block;margin-right:.76336%;width:49.61832%}
.entry-content ul.partners__list:last-child,
.partners__list:last-child{margin-right:0}
.entry-content ul.partners__list li,
.partners__list li{float:left;width:100%;height:42px;margin-bottom:30px;text-align:center}
.entry-content ul.partners__list li:last-child,
.partners__list li:last-child{margin-bottom:0}
.entry-content ul.partners__list--mobile,
.partners__list--mobile{display:block}
.entry-content ul.partners__list--desktop,
.partners__list--desktop{display:none}
.partner__logo{display:inline-block;width: 53px;height:42px;background-repeat:no-repeat;text-indent:-9999px;transition:opacity .2s;background-size:53px auto}
.partner__logo:hover{opacity:.8}
.partner__logo--ford{background-image:url(/static-assets/images/events/partners/ford.gif);}
.partner__logo--northface{background-image:url(/static-assets/images/events/partners/northface.gif);}
.partner__logo--dc{background-image:url(/static-assets/images/events/partners/dc.gif);}
.partner__logo--stance{background-image:url(/static-assets/images/events/partners/stance.gif);}
.partner__logo--underarmour{background-image:url(/static-assets/images/events/partners/underarmour.gif);}
.partner__logo--burton{background-image:url(/static-assets/images/events/partners/burton.gif);}
.partner__logo--volcom{background-image:url(/static-assets/images/events/partners/volcom.gif);}
.partner__logo--aether{background-image:url(/static-assets/images/events/partners/aether.gif);}
.partner__logo--redbull{background-image:url(/static-assets/images/events/partners/redbull.gif);}
.partner__logo--vans{background-image:url(/static-assets/images/events/partners/vans.gif);}
.partner__logo--capita{background-image:url(/static-assets/images/events/partners/capita.gif);}
.partner__logo--frequency{background-image:url(/static-assets/images/events/partners/frequency.gif);}
.partner__logo--electric{background-image:url(/static-assets/images/events/partners/electric.gif);}


/* Breakpoint: iPhone 6 */
@media only screen and (min-width: 375px) {
  .page--events h1 {
    margin-bottom: .6em;
  }
  .illustration__text--intro{
    padding: 108px 40px 0 40px;
  }
  .illustration__text--second {
    height: 240vw;
  }
  .illustration__text--third {
    height: 206vw;
  }
}

/* Breakpoint: Tablet */
@media only screen and (min-width: 768px) {
  [data-show=on-scroll] {
        opacity: 0;
        -webkit-transition: opacity .6s ease-in-out;
        -ms-transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
  }
  [data-show=on-scroll].in-view {
      opacity: 1;
  }


  .eq {
    height: 26px;
    width: 24px;
    float: right;
    position: absolute;
    top: 25px;
    right: 40px;
    cursor:pointer;
    z-index: 3000;
  }
  .stick {
    position: fixed;
    top: 25px;
  }
  .stick-bottom {
    position: absolute;
    top: auto;
    bottom: 10px;
  }
  .eq-bar {
    height: 1px;
    width: 3px;
    display: inline-block;
    background-color: #1C5172;
    bottom: 4px;
    position: absolute;
    -webkit-animation-duration: 500ms;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    transition: background-color .3s;
  }

  .eq-bar-1 {
    left: 0;
    -webkit-animation-name: danceHeight1;
    -webkit-animation-delay: 0ms;
  }
  .eq-bar-2 {
    left: 6px;
    -webkit-animation-name: danceHeight2;
    -webkit-animation-delay: 300ms;
  }
  .eq-bar-3 {
    left: 12px;
    -webkit-animation-name: danceHeight3;
    -webkit-animation-delay: 600ms;
  }
  .eq-bar-4 {
    left: 18px;
    -webkit-animation-name: danceHeight4;
    -webkit-animation-delay: 900ms;
  }
  .eq-bar-5 {
    left: 24px;
    -webkit-animation-name: danceHeight5;
    -webkit-animation-delay: 1200ms;
  }
  .eq-bar.light {
    background-color: #fff;
  }
  .eq-bar.temp-pause,
  .eq-bar.global-pause {
    -webkit-animation: none;
    -webkit-animation-name: none;
  }

  @-webkit-keyframes danceHeight1 {
    from { height: 1px; }
    to { height: 14px; }
  }
  @-webkit-keyframes danceHeight2 {
    from { height: 1px; }
    to { height: 13px; }
  }
  @-webkit-keyframes danceHeight3 {
    from { height: 1px; }
    to { height: 18px; }
  }
  @-webkit-keyframes danceHeight4 {
    from { height: 1px; }
    to { height: 16px; }
  }
  @-webkit-keyframes danceHeight5 {
    from { height: 1px; }
    to { height: 12px; }
  }

  .page--events h1{font-size:82px;margin-bottom: .25em;}
  .page--events h1:after {
    top: 36px;
    margin-left: -186px;
    width: 0;
    height: 50px;
    background-size: 370px 21px;
  }
  .page--events h1.strikethrough:after {
    width: 370px;
  }
  .page--events h2{font-size:22px;}
  .page--events h3{font-size:26px;}
  .page--events p{font-size:13px;line-height:2.3em;}
  .container{padding:0 50px}
  .illustration__container{float:none; background:#50c0d3 url(/static-assets/images/events/illustration/sky-tablet.jpg) no-repeat top;background-size:100% auto;overflow:hidden;height:2700px; padding:0}
  .illustration__clouds--left{display:block;position:absolute;top:338px;left:0;z-index:10;width:370px;height:310px;background:url(/static-assets/images/events/illustration/cloud-left.png);background-position:top;background-size:370px auto;background-repeat:no-repeat}
  .illustration__clouds--right{
    display: block;
    position: absolute;
    top: 209px;
    right: 0;
    z-index: 20;
    width: 560px;
    height: 480px;
    background: url(/static-assets/images/events/illustration/cloud-right.png);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .illustration__heli{
    transform: rotate(5deg);
    display:block;
    position:absolute;
    top:164px;
    right:-8%;
    z-index:30;
    width:228px;
    height:124px;
    background:url(/static-assets/images/events/illustration/animated-heli.gif);
    background-position:top;
    background-size:228px auto;
    background-repeat:no-repeat;
  }
  .illustration__birds{
    display:block;
    position:absolute;
    top:550px;
    left:-100px;
    z-index:10;
    width:190px;
    height:70px;
    background:url(/static-assets/images/events/illustration/birds.gif);
    background-position:top;
    background-size:190px auto;
    background-repeat:no-repeat;
  }
  .flipped-state {
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .illustration__mountains--rear{display:block;position:absolute;top:715px;left:0;width:100%;z-index:40;height:470px;background:url(/static-assets/images/events/illustration/landscape-rear.gif);background-position:top;background-size:auto 100%;background-repeat:no-repeat}
  .illustration__mountains--mid{
    display:block;
    position:absolute;
    top:410px;
    left:0;
    width:100%;
    z-index:50;
    height:980px;
    background:url(/static-assets/images/events/illustration/landscape-mid.gif);
    background-position:top;
    background-size:auto 100%;
    background-repeat:no-repeat
  }
  .illustration__mountains--mid-inner {
    display:block;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:980px;
  }
  .illustration__halfpipe-air{
    display: block;
    position: absolute;
    top: 607px;
    left: 50%;
    transform: translateX(-175px) rotate(-8deg);
    width: 88px;
    height: 240px;
    background: url(/static-assets/images/events/illustration/halfpipe-air.gif);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .illustration__mountains--front{
    display:block;
    position:absolute;
    top:1010px;
    left:0;
    width:100%;
    z-index:50;
    height:900px;
    background:url(/static-assets/images/events/illustration/landscape-front.gif);
    background-position:top;
    background-size:auto 100%;
    background-repeat:no-repeat
  }
  .illustration__mountains--front-inner {
    display:block;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:900px;
  }
  .illustration__mountain-bike-1{
    display: block;
    position: absolute;
    top: 430px;
    left: 50%;
    width: 62px;
    height: 170px;
    background: url(/static-assets/images/events/illustration/mountain-bike-1.gif);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transform: translateX(-271px) rotate(3deg) scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .illustration__chalets{display:block;position:relative;top:1550px;left:0;width:100%;z-index:60;height:1333px;background:url(/static-assets/images/events/illustration/landscape-chalets.gif);background-position:top;background-size:auto 100%;background-repeat:no-repeat}
  .illustration__chalets:after{display:block;position:absolute;content:'';width: 100%;height:100vh;bottom:-100vh;left:0;background:#838b5d;}
  .illustration__mountain-bike-2{
    display: block;
    position: absolute;
    top: 770px;
    left: 50%;
    transform: translateX(-325px);
    width: 140px;
    height: 240px;
    background: url(/static-assets/images/events/illustration/mountain-bike-2.gif);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .illustration__guitar{
    display: block;
    position: absolute;
    top: 495px;
    left: 50%;
    transform: translateX(43px);
    width: 117px;
    height: 170px;
    background: url(/static-assets/images/events/illustration/guitar.gif);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .illustration__banjo{
    display: block;
    position: absolute;
    top: 495px;
    left: 50%;
    transform: translateX(215px);
    width: 103px;
    height: 153px;
    background: url(/static-assets/images/events/illustration/banjo.gif);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .illustration__main-lodge{display:block;position:absolute;bottom:0;left:0;width:100%;z-index:60;height:1122px;background:url(/static-assets/images/events/illustration/lodge-main.gif);background-position:top;background-size:auto 100%;background-repeat:no-repeat}
  .illustration__yogis{
    display: block;
    position: absolute;
    top: 374px;
    left: 50%;
    transform: translateX(-48px);
    width: 480px;
    height: 425px;
    background: url(/static-assets/images/events/illustration/yogis.gif);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .illustration__shades{
    display: block;
    position: absolute;
    top: 760px;
    left: -68px;
    transform: rotate(8deg);
    width: 94px;
    height: 425px;
    background: url(/static-assets/images/events/illustration/shades.gif);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .illustration__swimmer{
    display: block;
    position: absolute;
    top: 950px;
    left: 50%;
    transform: translateX(177px) rotate(0deg);
    width: 186px;
    height: 115px;
    background: url(/static-assets/images/events/illustration/swimmer.gif);
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .illustration__text--intro{
    position:absolute;
    margin-top:0;
    top:70px;
    left:8%;
    right:8%;
    width: auto;
    height:auto;
    padding:0;
    z-index:1;
    background: none;
  }
  .illustration__text--intro p{padding: 0 22%;font-size: 16px;line-height: 2.1em;margin-bottom:30px;color:#006699;}
  .illustration__text--second{
    position:absolute;
    top:372px;
    left:8%;
    right:8%;
    width:auto;
    height:auto;
    z-index:45;
    background: none;
  }
  .illustration__text--second p {padding: 0 28%;}
  .illustration__text--third{position:absolute;top:1460px;right:1%;width:260px;height:auto;z-index:55;background: none;}
  .illustration__text--third h2,
  .illustration__text--third p {color:#fff;text-align: left;}
  .illustration__text--fourth{position:absolute;
    bottom:300px;
    left:3%;
    width:336px;
    height:auto;
    z-index:100;
    background: none;
  }
  .illustration__text--fourth h2,
  .illustration__text--fourth p {color:#fff;text-align: left;}
  .entry-content .illustration__container .illustration__text--fourth h2 {
    color: #fff;
  }
  .book-now__text-container{width:315px;padding:0;margin-bottom:10px;float:left;display:block;margin-right:.76336%;width:32.82443%}
  .book-now__text-container:last-child{margin-right:0}
  .book-now__text-container h2{padding:0 10%}
  .book-now__text-container p{padding:0 8%;line-height: 2.6em;}
  .entry-content ul.partners__list,
  .partners__list{float:left;display:block;margin-right:.76336%;width:32.82443%;margin-top:140px}
  .entry-content ul.partners__list:last-child,
  .partners__list:last-child{margin-right:0}
  .entry-content ul.partners__list li,
  .partners__list li{width:auto;margin-bottom:22px}
  .entry-content ul.partners__list.partners__list--right,
  .partners__list.partners__list--right{padding-left:10px}
  .entry-content ul.partners__list.partners__list--right li,
  .partners__list.partners__list--right li{float:left;margin-right:24px}
  .entry-content ul.partners__list.partners__list--right li:last-child,
  .partners__list.partners__list--right li:last-child,
  .entry-content ul.partners__list.partners__list--right li:nth-child(3n),
  .partners__list.partners__list--right li:nth-child(3n)
  {margin-right:0;}
  .entry-content ul.partners__list.partners__list--right li:nth-child(4n),
  .partners__list.partners__list--right li:nth-child(4n)
  {clear:left;}
  .entry-content ul.partners__list.partners__list--left,
  .partners__list.partners__list--left
  {padding-right:10px}
  .entry-content ul.partners__list.partners__list--left li,
  .partners__list.partners__list--left li
  {float:right;margin-right:24px}
  .entry-content ul.partners__list.partners__list--left li:first-child,
  .partners__list.partners__list--left li:first-child,
  .entry-content ul.partners__list.partners__list--left li:nth-child(4n),
  .partners__list.partners__list--left li:nth-child(4n)
  {margin-right:0;clear:right;}
  .entry-content ul.partners__list--mobile,
  .partners__list--mobile{display:none}
  .entry-content ul.partners__list--desktop,
  .partners__list--desktop{display:block}
  .entry-content .illustration__text--third h2,
  .entry-content .illustration__text--third p{color:#fff}
  .slick-dots{text-align:left}
  .carousel__container{margin-bottom:0}
  .carousel .slick-list{margin-right:0}
  .carousel__item{width:auto;height:auto;min-height:300px;margin:0 30px}
  .carousel .slick-next,
  .carousel .slick-prev{width:58px;height:58px;top:34%;border:5px solid #fff}
  .carousel .slick-prev{left:-29px}
  .carousel .slick-next{right:-29px}
  .carousel .slick-next i,
  .carousel .slick-prev i{left:13px;top:0;width:20px;height:24px}
  .carousel .slick-next i{left:16px}
  .carousel .slick-dots{bottom:-14px}
  .carousel .slick-dots li{width:12px;height:12px;margin:0 9px}
  .carousel .slick-dots li button{width:12px;height:12px;background:#bbb}
  .carousel__citation{text-align:left}
  .carousel .slick-next,
  .carousel .slick-prev{top:39%}
  .button--swap > .button__inner,
  .button--swap > .button__icon {
    font-size: 15px;
  }
  .carousel__item .carousel__item-desc{
    top: -14px;
  }
}

/* Breakpoint: Desktop */
@media only screen and (min-width: 960px) {
  .page--events h1{font-size:105px;margin-bottom: .2em;}
  .page--events h1:after {
    top: 47px;
    margin-left: -245px;
    width: 0;
    height: 27px;
    background-size: 490px 27px;
  }
  .page--events h1.strikethrough:after {
    width: 490px;
  }
  .page--events h2{font-size:32px;}
  .page--events h3{font-size:30px;}
  .page--events p{font-size:16px;line-height:2.5em;}
  .illustration__container {
    background:#50c0d3 url(/static-assets/images/events/illustration/sky.jpg) no-repeat top;
    background-size:100% auto;
    background-size:contain;
    height:3800px;
  }
  .illustration__clouds--left{
    top: 440px;
    width: 500px;
    height: 500px;
    background-size: 100% auto;
  }
  .illustration__clouds--right{
    top: 250px;
    width: 710px;
    height: 620px;
    background-size: 100% auto;
  }
  .illustration__heli{
    top:180px;
    width:280px;
    height:160px;
    background-size:
    280px auto;
    right:-10%;
  }
  .illustration__birds{
    top: 650px;
    left: -280px;
    width: 280px;
    height: 120px;
    background-size: 100% auto;
  }
  .illustration__mountains--rear{top:920px;height:675px;}
  .illustration__mountains--mid{top:490px;height:1410px;}
  .illustration__mountains--mid-inner{height:1410px;}
  .illustration__halfpipe-air{
    top: 884px;
    transform: translateX(-264px) rotate(-8deg);
    width: 120px;
    height: 240px;
  }
  .illustration__mountains--front{top:1400px;height:1294px;}
  .illustration__mountains--front-inner{height:1294px;}
  .illustration__mountain-bike-1{
    top: 610px;
    transform: translateX(-387px) rotate(3deg) scaleX(-1);
    width: 94px;
    height: 170px;
  }
  .illustration__chalets{top:2110px;height:1920px;}
  .illustration__mountain-bike-2{
    top: 1112px;
    transform: translateX(-480px);
    width: 206px;
    height: 340px;
  }
  .illustration__guitar{
    top: 716px;
    transform: translateX(63px);
    width: 165px;
    height: 260px;
  }
  .illustration__banjo{
    top: 718px;
    transform: translateX(308px);
    width: 147px;
    height: 253px;
  }
  .illustration__main-lodge{bottom:0;height:1610px;}
  .illustration__yogis{
    top: 537px;
    transform: translateX(-72px);
    width: 700px;
    height: 625px;
  }
  .illustration__shades{
    top: 1100px;
    left: -68px;
    width: 120px;
    height: 385px;
  }
  .illustration__swimmer{
    top: 1380px;
    transform: translateX(270px) rotate(0deg);
    width: 230px;
    height: 165px;
  }
  .illustration__text--intro {top:100px;left:8%;right:8%;}
  .page--events .illustration__text--intro p {padding: 0 24%;font-size: 18px;line-height: 2.4em;}
  .illustration__text--second{top:495px;}
  .illustration__text--third{top:2040px;right:1.6%;width:310px;}
  .illustration__text--fourth{bottom:450px;right:3%;width:360px;}

  .carousel .slick-next,
  .carousel .slick-prev{top:39%}
  .entry-content ul.partners__list.partners__list--right li,
  .partners__list.partners__list--right li{float:left;margin-right:30px}
  .entry-content ul.partners__list.partners__list--left li,
  .partners__list.partners__list--left li
  {float:right;margin-right:30px}
  .entry-content ul.partners__list,
  .partners__list{margin-top:140px}
  ul.partners__list.partners__list--left, .partners__list.partners__list--left {
      padding-right: 40px;
  }
  ul.partners__list.partners__list--right, .partners__list.partners__list--right {
    padding-left: 40px;
  }
  .button--swap > .button__inner,
  .button--swap > .button__icon {
    font-size: 15px;
  }
  .carousel__item .carousel__item-desc{
    top: -18px;
  }
}

/* Breakpoint: Desktop XL */
@media only screen and (min-width: 1380px) {
  .page--events h2{font-size:40px;}
  .page--events p{font-size:19px;}
  .illustration__container {
    height:4950px;
  }
  .illustration__clouds--left{
    top: 580px;
    width: 700px;
    height: 700px;
  }
  .illustration__clouds--right{
    top: 310px;
    width: 1000px;
    height: 900px;
  }
  .illustration__heli{
    top: 220px;
    width: 320px;
    height: 300px;
    background-size: 100% auto;
    right: -10%;
  }
  .illustration__birds{
    top: 920px;
    left: -350px;
    width: 350px;
    height: 200px;
  }
  .illustration__mountains--rear{
    top:1220px;
    height:880px;
  }
  .illustration__mountains--mid{
    top:790px;
    height:1834px;
  }
  .illustration__mountains--mid-inner{height:1834px;}
  .illustration__halfpipe-air{
    top: 1144px;
    transform: translateX(-342px) rotate(-8deg);
    width: 150px;
    height: 240px;
  }
  .illustration__mountains--front{
    top:1900px;
    height:1684px;
  }
  .illustration__mountains--front-inner{height:1684px;}
  .illustration__mountain-bike-1{
    top: 816px;
    transform: translateX(-512px) rotate(3deg) scaleX(-1);
    width: 110px;
    height: 170px;
  }
  .illustration__chalets{
    top:2750px;
    height:2492px;
  }
  .illustration__mountain-bike-2{
    top: 1452px;
    transform: translateX(-591px);
    width: 240px;
    height: 400px;
  }
  .illustration__guitar{
    top: 957px;
    transform: translateX(82px);
    width: 185px;
    height: 280px;
  }
  .illustration__banjo{
    top: 941px;
    transform: translateX(411px);
    width: 183px;
    height: 263px;
  }
  .illustration__main-lodge{
    bottom:0;
    height:2102px;
  }
  .illustration__yogis{
    top: 700px;
    transform: translateX(-72px);
    width: 872px;
    height: 775px;
  }
  .illustration__shades{
    top: 1526px;
    left: -87px;
    width: 160px;
    height: 375px;
  }
  .illustration__swimmer{
    top: 1810px;
    transform: translateX(324px) rotate(0deg);
    width: 350px;
    height: 285px;
  }
  .illustration__text--intro {top:140px;left:8%;right:8%;}
  .page--events .illustration__text--intro p {
    padding: 0 24%;
    font-size: 22px;
    line-height: 2.4em;
  }
  .illustration__text--second{top:540px;}
  .illustration__text--third{
    top: 2720px;
    right: 2%;
    width: 400px;
  }
  .illustration__text--fourth{
    bottom: 580px;
    left: 7%;
    width: 420px;
  }
  .button--swap > .button__inner,
  .button--swap > .button__icon {
    font-size: 16px;
  }
  .entry-content ul.partners__list,
  .partners__list{margin-top:160px}
  ul.partners__list.partners__list--left, .partners__list.partners__list--left {
      padding-right: 60px;
  }
  ul.partners__list.partners__list--right, .partners__list.partners__list--right {
    padding-left: 60px;
  }
}

/* Breakpoint: Desktop XXL */
@media only screen and (min-width: 1800px) {
  .page--events {
    max-width: 2560px !important;
    margin: 0 auto;
  }
  .page--events h2{font-size:40px;}
  .page--events p{font-size:19px;}
  .illustration__container {
    height: 6630px
  }
  .illustration__clouds--left{
    top: 570px;
    width: 970px;
    height: 890px;
  }
  .illustration__clouds--right{
    top: 310px;
    width: 1400px;
    height: 1210px;
  }
  .illustration__heli{
    top: 190px;
    width: 520px;
    height: 330px;
    background-size: 100% auto;
    right: -10%;
  }
  .illustration__birds{
    top: 980px;
    left: -500px;
    width: 500px;
    height: 300px;
  }
  .illustration__mountains--rear{
    top: 1520px;
    height: 1254px;
  }
  .illustration__mountains--mid{
    top: 730px;
    height: 2615px;
  }
  .illustration__mountains--mid-inner{height: 2615px;}
  .illustration__halfpipe-air {
    top: 1634px;
    transform: translateX(-502px) rotate(-8deg);
    width: 225px;
    height: 240px;
  }
  .illustration__mountains--front{
    top: 2200px;
    height: 2392px;
  }
  .illustration__mountains--front-inner{height:1684px;}
  .illustration__mountain-bike-1{
    top: 1159px;
    transform: translateX(-722px) rotate(3deg) scaleX(-1);
    width: 150px;
    height: 210px;
  }
  .illustration__chalets{
    top: 3300px;
    height: 3552px;
  }
  .illustration__mountain-bike-2{
    top: 2050px;
    transform: translateX(-851px);
    width: 380px;
    height: 640px;
  }
  .illustration__guitar{
    top: 1325px;
    transform: translateX(117px);
    width: 305px;
    height: 490px;
  }
  .illustration__banjo{
    top: 1313px;
    transform: translateX(572px);
    width: 294px;
    height: 423px;
  }
  .illustration__main-lodge{
    bottom:0;
    height: 2994px;
  }
  .illustration__yogis{
    top: 999px;
    transform: translateX(-117px);
    width: 1272px;
    height: 1115px;
  }
  .illustration__shades{
    top: 2186px;
    left: -100px;
    width: 208px;
    height: 295px;
  }
  .illustration__swimmer{
    top: 2560px;
    transform: translateX(467px) rotate(0deg);
    width: 550px;
    height: 525px;
  }
  .illustration__text--intro {top:160px;left:8%;right:8%;}
  .page--events .illustration__text--intro p {
    padding: 0 24%;
    font-size: 23px;
    line-height: 2.4em;
  }
  .illustration__text--second{top:580px;}
  .illustration__text--third{
    top: 3380px;
    right: 6%;
    width: 410px;
  }
  .illustration__text--fourth{
    bottom: 944px;
    left: 10%;
    width: 430px;
  }
}
