/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
}


/******************************************************************************
 * Fonts: Styles
*******************************************************************************/
@mixin font-sans() {
    font-family: $font-family-sans;
    @include font-normal();
}
@mixin font-serif() {
    font-family: $font-family-serif;
    @include font-normal();
}


/******************************************************************************
 * Type
*******************************************************************************/
@mixin p() {
    font-size: $p-size;
    line-height: $p-line;
    @include font-sans();
}
@mixin a() {
    display: inline;
    text-decoration: none;
    @include font-sans();
}
@mixin b() {
    font-weight: 700;
}
@mixin bs() {
    font-weight: 600;
}
@mixin li() {
    padding-left: 20px;
    @include p();
}
@mixin ol-li() {
    list-style: decimal;
}
@mixin ul-li() {
    list-style: disc;
}
@mixin pp() {
    margin-top: $expander-mobile / 2;
}
@mixin h1() {
    color: $charcoal;
    font-size: $h1-size;
    line-height: $h1-line;
    @include font-serif();
    @include b();
}
@mixin h2() {
    color: $charcoal;
    font-size: $h2-size;
    line-height: $h2-line;
    @include font-sans();
    @include bs();
}
@mixin h3() {
    color: $charcoal;
    font-size: $h3-size;
    line-height: $h3-line;
    @include font-sans();
    @include bs();
}



/******************************************************************************
 * Buttons
*******************************************************************************/
@mixin btn() {
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-size;
    letter-spacing: normal;
    line-height: 1;
    outline: 0;
    padding: 0;
    text-transform: uppercase;
    -webkit-appearance: none;
    @include font-sans();
    @include b();
}
@mixin btn-style() {
    border: 1px solid $grey-bd;
    color: $charcoal;
    transition: color $base-duration $ease,
                border-color $base-duration $ease,
                background-color $base-duration $ease;
}
@mixin btn-large() {
    background-color: $white;
    padding: 20px;
}
@mixin btn-medium() {
    background-color: $white;
    padding: 16px;
}
@mixin btn-small() {
    background-color: $white;
    padding: 12px;
}


/******************************************************************************
 * Wraps
*******************************************************************************/
@mixin wrap-copy() {
    display: inline-block;
    max-width: $wrap-copy;
    width: 100%;
}


/******************************************************************************
 * Document states
*******************************************************************************/
@mixin state( $module, $state ) {
    .is-#{$module}-#{$state} & {
        @content;
    }
}


/******************************************************************************
 * Media queries
 *
 * @see ../config/_variables.scss for Breakpoints
*******************************************************************************/
@mixin respond( $width ) {
    @media only screen and ( max-width: $width ) {
        @content;
    }
}
@mixin respond-min( $width ) {
    @media only screen and ( min-width: $width ) {
        @content;
    }
}



/******************************************************************************
 * Module utility
*******************************************************************************/
@mixin screen-active() {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: $z_layer_infront;
    -webkit-overflow-scrolling: touch;
}
