/******************************************************************************
 * Fonts
*******************************************************************************/
$font-family-sans: "Source Sans Pro", sans-serif;
$font-family-serif: "Source Serif Pro", serif;



/******************************************************************************
 * Colors
*******************************************************************************/
$blue: #1bbcef;
$black: #000;
$charcoal: #333;
$medium: #555;
$white: #fff;
$grey: #999;
$grey-bg: #a5a5a5;
$grey-bd: #ccc;
$grey-bd-hover: #666;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-gutter: 5px;
$grid-columns: 3;



/******************************************************************************
 * Spacing
*******************************************************************************/
$expander-one: 80px;
$expander-two: 160px;
$expander-three: 240px;
$expander-mobile: 40px;
$padding-wrap: 8vw;



/******************************************************************************
 * Sizes
*******************************************************************************/
$wrap-copy: 700px;
$logo-width: 128px;
$navi-height: 60px;
$navi-font-size: 15px;
$footer-font-size: 14px;




/******************************************************************************
 * Typography
*******************************************************************************/
$p-size: 18px;
$p-line: 1.8;
$h1-size: 48px;
$h1-line: 1.3;
$h2-size: 40px;
$h2-line: 1.3;
$h3-size: 21px;
$h3-line: 1.5;
$track-1: 0.02em;
$track-2: 0.03em;
$btn-size-small: 14px;
$btn-size-medium: 16px;
$btn-size-large: 18px;
$btn-pad: 1em 3em;
$navi-pad: 22px 30px;
$meta-size: 15px;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-large: 2200px;
$break-desktop: 1920px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
$slow-duration: 1000ms;
$long-duration: 600ms;
$base-duration: 400ms;
$fast-duration: 200ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_10: 100;
$z_layer_09: 90;
$z_layer_08: 80;
$z_layer_07: 70;
$z_layer_06: 60;
$z_layer_05: 50;
$z_layer_04: 40;
$z_layer_03: 30;
$z_layer_02: 20;
$z_layer_01: 10;
$z_layer_behind: -1;
$z_layer_infront: 1000;
